@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

/* Custom Fonts */
@font-face {
  font-family: 'Rochester';
  src: url('/fonts/Rochester.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

/* Define custom font classes within @layer */
@layer utilities {
  .font-rochester {
    font-family: 'Rochester', sans-serif;
  }
  .font-averia {
    font-family: 'Averia Serif Libre', sans-serif;
  }
}

.theDailyByte {
  font-size: calc(3rem - 3pt); /* Adjust the font size as needed */
}

/* Text Styles */
h1 {
  @apply font-rochester;
  margin: 1px;
  padding: 0;
}

h2 {
  @apply font-averia text-lg font-bold italic;
  margin: 1px;
  padding: 0;
  text-transform: capitalize;
}

h3 {
  @apply font-averia text-base font-light;
  margin: 1px;
  padding: 0;
  text-transform: capitalize;
}

h4 {
  @apply font-averia text-sm italic text-gray-500;
  margin: 1px;
  padding: 0;
  text-transform: capitalize;
}

h5 {
  @apply font-averia text-xs uppercase;
  margin: 1px;
  padding: 0;
}

h6 {
  @apply font-averia text-xs uppercase;
  margin: 1px;
  padding: 0;
}

body {
  margin: 0;
  @apply font-sans;
  background-color: black; /* Ensures the initial background color is black */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0; /* Changed to pure black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; /* Kept as pure black */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
